div.highlight { 
	background:#FFFFFF;
	border:1px solid #E0E0E0;
	font-family:"Courier New",Courier,monospace;
	overflow: hidden;
}
div.highlight pre{
	width: 100%;
	overflow: auto;
	padding:0;
	margin:0;
	font-size:13px;
	clear: both;
}

/* tabs */
div.highlight ul.tabs {
	overflow: hidden;
	padding: 5px 0 5px 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
}
div.highlight ul.tabs li {
	padding: 0;
	margin: 0 5px;
	float: left;
	background: none;
	border-bottom: 1px dashed #CCC;
	line-height:1.0em;
	color: #CCC;
	cursor: pointer;
}
div.highlight ul.tabs li.active {
	border-bottom: none;
	cursor: default;
}

/* pre */
div.highlight pre.code ol {
	margin: 0;
	padding:0 0 0 45px;
	background:#e7e5dc; 
}
div.highlight pre.code ul {
	margin: 0;
	padding:0;	
}
div.highlight pre.code ol li,
div.highlight pre.code ul li {
	padding:0 0 0 5px;
	border-left:3px solid #CCC;
	background:#F8F8F8;
}
div.highlight pre.code ul li {
	border-left:none;
}
div.highlight pre.code ol li.even,
div.highlight pre.code ul li.even {
	background-color:#FFFFFF;
}
div.highlight pre.source {
	display: none;
	padding:0 0 0 5px;
}

/* highligting */
pre.code .str { 
	color: #080; 
}
pre.code .kwd,
pre.code .kwd span { 
	color: #070;
}
pre.code .com,
pre.code .com span { 
	color:#080;
	font-style: italic;
	font-weight: normal; 
}
pre.code .typ { 
	color: #606; 
}
pre.code .lit { 
	color: #066;
}
pre.code .pun { 
	color: #660; }
pre.code .pln { 
	color: #000; 
}
pre.code .tag { 
	color: #008;
	font-weight: bold;  
} 
pre.code .atn { 
	color: #606; 
}
pre.code .atv { 
	color: #080; 
}
pre.code .dec { 
	color: #606; 
}
pre.code .fnc,
pre.code .fnc span { 
	color: #00b; 
}

/* css */
.css pre.code .kwd,
.css pre.code .kwd span { 
	color: #008;
	font-weight: bold; 
}
/* php */
.php pre.code .str,
.php pre.code .str span { 
	color: #d00; 
}
.php pre.code .var,
.php pre.code .var span { 
	color: #00b; 
}
.php pre.code .com,
.php pre.code .com span { 
	color:#ff8000;
	font-style: italic;
	font-weight: normal; 
}

/**
 * jQuery Lined Textarea Plugin
 *   http://alan.blog-city.com/jquerylinedtextarea.htm
 *
 * Copyright (c) 2010 Alan Williamson
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Usage:
 *   Displays a line number count column to the left of the textarea
 *   
 *   Class up your textarea with a given class, or target it directly
 *   with JQuery Selectors
 *   
 *   $(".lined").linedtextarea({
 *   	selectedLine: 10,
 *    selectedClass: 'lineselect'
 *   });
 *
 */

.linedwrap {
	border: 1px solid #c0c0c0;
	padding: 3px;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: monospace;
	line-height: normal !important;
}

.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 10px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}